html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  /* font-family: "PF Agora Sans Pro Medium", sans-serif; */
  /* font-family: "PF Agora Sans Pro", sans-serif; */
  /* font-family: "PF Agora Sans Pro XThin", sans-serif; */
  /* font-family: "PF Agora Sans Pro Thin", sans-serif;  */
  font-family: "PF Agora Sans Pro Light", sans-serif;
  /* font-family: "PF Agora Sans Pro Black", sans-serif; */
  /* font-family: "PF Agora Sans Pro UltraBlack", sans-serif; */
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container-fluid {
  max-width: 140rem;
  margin: 0 auto;
}

.container {
  max-width: 108rem;
  margin: 0 auto;
}
