html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container-fluid {
  max-width: 140rem;
  margin: 0 auto;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.btn {
  padding: 18px 50px;
  text-transform: uppercase;
  font-size: 1.8rem;
  border: 1px solid;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  background-color: transparent;
}

.btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  z-index: -1;
  transition: all 0.25s ease-in;
}
.btn:hover:before {
  width: 100%;
}
/* -------- -------- */

/* -------- Start Header -------- */
.header-top {
  padding: 13px 0;
  background-color: #000;
  color: white;
  font-size: 1.4rem;
}

.header-top__inner {
  display: flex;
  justify-content: flex-end;
}

.header-top__item {
  display: flex;
  margin-right: 3.1rem;
}

.header-top__item:last-child {
  margin-right: 0;
}

.header-top__item--icon {
  margin-right: 1.2rem;
}
.header-top__item--text {
  cursor: pointer;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.7rem;
  background-color: #d7d6d66e;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0;
}

.header-main__logo {
  margin-left: 10rem;
}

.header-main__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main__list--item {
  margin-right: 4rem;
}

.header-main__list--item__link {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
}

.header-main__list--item__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: red;
  transition: all 0.2s linear;
}

.header-main__list--item__link:hover::after {
  width: 45px;
}

.header-main__list--icon {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.header-main__list--icon:hover {
  color: red;
}

.header-btn__search {
  position: absolute;
  left: 23%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  bottom: -66px;
  transition: all 0.2s linear;
}

.hover-btn-search:hover .header-btn__search {
  opacity: 1;
  visibility: visible;
}

.header-btn__search--wrapper {
  position: relative;
}

.header-btn__search input {
  outline: none;
  border: none;
  padding: 25px 25px 25px 60px;
  width: 102rem;
  background-color: #000;
  color: #fff;
}

.header-btn__search input::placeholder {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.header-btn__search input :-ms-input-placeholder {
  /* chạy trên Internet Explorer 10-11 */
  color: #9c9c9c;
  font-size: 1.8rem;
}

.header-btn__search input::-ms-input-placeholder {
  /* chạy trên Microsoft Edge */
  color: #9c9c9c;
  font-size: 1.8rem;
}

.header-btn__search em {
  position: absolute;
  font-size: 2rem;
  color: #9c9c9c;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.header-btn__search::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 8rem;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #000;
}

/* -------- End Header -------- */

/* -------- Start Banner -------- */
.overlay {
  position: relative;
  height: 107rem;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("./images/banner-bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner2 {
  background-image: url(https://images.unsplash.com/photo-1606228281437-dc226988dc3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.banner3 {
  background-image: url(https://images.unsplash.com/photo-1606481021733-5e269f7d87f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
}

.banner-content {
  text-align: center;
  margin-bottom: 16rem;
}

.banner-content__title,
.banner-content__des {
  font-size: 36.66px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.banner-content__title {
  display: inline-block;
  padding-bottom: 2rem;
  border-bottom: 3px solid red;
  margin-bottom: 4.5rem;
}

.banner-content__des {
  margin-bottom: 5rem;
}

.banner-content__btn {
  display: flex;
  justify-content: center;
}

.banner-content__btn--view,
.banner-content__btn--download {
  height: 47px;
  width: 194px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content__btn--view {
  margin-right: 114px;
}

.banner-content__btn--download {
  background-color: #fff;
  color: #b9b6ad;
}

.banner-content__btn--download:hover {
  color: #fff;
}

.banner-item {
  display: none;
}

.slider-banner {
  height: 100%;
}

.banner-item {
  height: 100%;
}

.slider-banner__prev,
.slider-banner__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  /* transition: 0.6s ease; */
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
  background-color: red;
}

.slider-banner__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider-banner__prev:hover,
.slider-banner__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active:hover {
  background-color: #717171;
}

.fade {
  /* animation-name: fade; */
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* -------- End Banner -------- */

/* -------- Start Contact -------- */
.contact {
  margin: 11rem 0;
}

.contact-top,
.contact-bottom {
  display: flex;
}

.contact-top {
  margin-bottom: 5rem;
}

.contact-top img {
  width: 30rem;
  height: 85px;
}

.contact-bottom {
  justify-content: space-between;
}

.contact-bottom__text,
.contact-top__text {
  font-size: 1.8rem;
  margin-left: 10rem;
  width: 100rem;
  line-height: 1.9;
}

.contact-top__text span {
  color: red;
}

.contact-bottom__btn {
  padding: 16px 28px;
  border: 1px solid red;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
  line-height: 1.4;
  height: 2rem;
}

.contact-bottom__btn:hover {
  color: #fff;
}

/* -------- End Contact -------- */

/* -------- Start Product -------- */
.product-row {
  display: flex;
}

.product-washbasin,
.product-faucet {
  width: 50%;
}

.product-shower {
  width: calc(100% - 687.5px);
}

.product-all {
  width: 687.5px;
  background-color: #000;
}
/* -------- End Product -------- */
